#eventQ1, #eventQ2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
    color: #fa8806;
}

.quiz-box {
    width:100%;
    height: auto;
    background-image: url('../images/quiz/texture-vintage.jpg');
    background-size: cover;
    background-position: center;
    border: 1px solid #000;
    font-family: 'Times New Roman', Times, serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
