#eventQ1, #eventQ2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(1000px) rotateY(10deg); /* Combine transform properties */
    text-align: center;
    font-size: 1.5em; /* Default font size */
    color: #fa8806; /* Set font color to green */
}


.quiz-box {
    width:100% ; /* 상자의 너비를 조정하세요 */
    height: auto; /* 상자의 높이를 조정하세요 */
    background-image: url('../images/quiz/texture-vintage.jpg'); /* 이미지의 URL을 지정하세요 */
    background-size: cover; /* 이미지를 상자에 맞게 크기 조정합니다 */
    background-position: center; /* 이미지를 가운데 정렬합니다 */
    border: 1px solid #000; /* 원하는 경우 테두리를 추가합니다 */
    font-family: 'Times New Roman', Times, serif; /* 전통적인 폰트 */
  }


  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}