
  


  input {
    width: 60px;
    height: 60px;
    font-size: 40px;
    margin-bottom: 10px; /* Add spacing between inputs */
    text-align: center; /* Center horizontally */
    line-height: 80px; /* Center vertically */
    border: 2px solid #3498db; /* Add border */
    border-radius: 10px; /* Add border radius */
    background-color: #ecf0f1; /* Add background color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    transition: all 0.3s ease; /* Add transition effect */
  }
  
  .input:focus {
    outline: none; /* Remove default focus outline */
    border-color: #e74c3c; /* Change border color on focus */
    box-shadow: 0px 0px 10px rgba(231, 76, 60, 0.5); /* Change box shadow on focus */
  }


  .submit-button {
    padding: 10px 80px; /* Add padding to the button */
    font-size: 18px; /* Set font size */
    background-color: #3498db; /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add pointer cursor */
    transition: background-color 0.3s ease; /* Add transition effect */
  }
  
  .submit-button:hover {
    background-color: #2980b9; /* Change background color on hover */
  }
  